.create-account,
.create-project {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 10px 15px;
  font-weight: 700;
  color: #21154d;
  background: linear-gradient(to left, var(--light-blue), var(--light-pink));
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0 15px rgba(54, 226, 255, 0.7);
  }
}

.secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0 10px rgba(54, 226, 255, 0.5);
  }
}


