.v-dialog {
  .v-overlay__content {
    .v-card {
      border-radius: 20px !important;
      padding: 50px;
      background-color: rgba(33, 21, 77, 0.7);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(10px);
      color: var(--main-light-color);

      .close-button {
        position: absolute;
        right: 25px;
        top: 25px;
      }

      .title {
        display: block;
        font-size: 20px;
        margin-bottom: 20px;
      }

      form {
        .v-input {
          margin-bottom: 10px;
        }

        .socials {
          width: 100%;
          border-top: 1px solid rgba(249, 246, 224, 0.1);
          margin-top: 10px;
          padding-top: 15px;

          .wrapper-socials {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;

            .vk,
            .yandex,
            .google {
              p {
                display: flex;
                align-items: center;
                text-align: center;
                font-size: 15px;
                color: var(--main-light-color);
                margin-right: 20px;
              }

              & img {
                cursor: pointer;
                width: 20px;
              }
            }
          }
        }

        .card-buttons {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }

      .forgot-password,
      .login-block,
      .registration-block {
        display: flex;
        gap: 10px;
        font-size: 14px;
        margin: 10px 0 25px;

        a {
          color: var(--light-blue);
          text-decoration: underline;
          cursor: pointer;
        }
      }

      &-buttons {
        width: 100%;
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .dialog {
    .v-overlay__content {
      .card {
        border-radius: 30px;
        padding: 20px;
      }
    }
  }
}
