
.v-expansion-panel {
  background-color: #2b2b2be5 !important;
  color: var(--main-light-color) !important;

  .v-expansion-panel-title {
    font-size: 12px;
    min-height: 20px;

    .v-expansion-panel-text {

    }
  }
}

.v-expansion-panel__shadow {
  display: none;
}

.v-expansion-panel-text__wrapper {
  padding: 15px 10px 30px!important;
  border-bottom: 1px solid rgba(248, 248, 221, 0.4);
}

// title images
.edit-icon {
  width: 15px;
  fill: var(--light-blue);
  margin-right: 10px;
}
