:root {
    --main-light-color: rgba(255, 255, 225, 0.91);
    --main-backgground-color: #1f2023;
    --light-pink: #FD3FF7;
    --light-blue: #36E2FF;
    --hover-box-shadow: 0 0 10px rgba(54, 226, 255, 0.5);
}
